/* 
    Document   : default
    Created on : Mar 25, 2012, 1:54:40 PM
    Author     : jasonbrown
    Description:
        Defines site styles, overriding twitter bootstrap where needed
*/
html,
body 
{
   height:100%;
}

a.thumbnail:hover {border-color: #F2BC1B !important;}

#container 
{
   min-height:100%;
   position:relative;
}

#content 
{
   padding-bottom:100px;   /* Height of the footer */
}

footer
{
    background:#000 url('/img/dark_mosaic.png');
    height:60px;
    width:100%;
    position:absolute;
    bottom:0;
}

footer ul {position:absolute; left:10px; bottom:10px; list-style: none;}
footer ul li {float:left; margin-right:20px;}

footer p.copyright {position:absolute; right:20px; bottom:10px; color:#fff;}

.block
{
    background:url('/img/dark_mosaic.png') !important; color:#FFF !important; opacity:0.9; filter:alpha(opacity=90);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.block h1 {margin-bottom:10px !important;}

.block ul 
{
    list-style: none !important;
    margin:0;
    padding:0;
}

.block ul li a
{
    color: #F2BC1B;
}


.login {padding:10px;}

.form-actions {background:url('/img/dark_mosaic.png') !important;}

#subnav ul.breadcrumb li+li {margin-left:10px;}


/* Profile */
#profile-header #level-box {margin-top:10px;}
#profile-header #level-box h5 {text-transform:capitalize; font-weight: bold;}
#profile-header .page-header p.status-message {color:#989696; margin-left:0;}
#profile-header ul#profile-boxes {list-style: none; margin:0; padding:0;}
#profile-header ul#profile-boxes li {float: left; padding:15px;}
#profile-header ul#profile-boxes li.first {margin-left:0px;}