/* 
    Document   : default
    Created on : Mar 25, 2012, 1:54:40 PM
    Author     : jasonbrown
    Description:
        Defines site styles, overriding twitter bootstrap where needed
*/
footer ul {position:absolute; left:10px; bottom:10px; list-style: none;}
footer ul li {float:left; margin-right:20px;}

footer p.copyright {position:absolute; right:20px; bottom:10px; color:#fff;}

#subnav ul.breadcrumb li+li {margin-left:10px;}


/* Profile */
#profile-header #level-box {margin-top:10px;}
#profile-header #level-box h5 {text-transform:capitalize; font-weight: bold;}
#profile-header .page-header p.status-message {color:#989696; margin-left:0;}
#profile-header ul#profile-boxes {list-style: none; margin:0; padding:0;}
#profile-header ul#profile-boxes li {float: left; padding:15px;}
#profile-header ul#profile-boxes li.first {margin-left:0px;}