/*.block
{
    background:url('/img/dark_mosaic.png') !important; color:#FFF; opacity:0.9; filter:alpha(opacity=90);
    color:#FFF;
}*/

.block ul 
{
    list-style: none !important;
    margin:0;
    padding:0;
}

.block a
{
    color: #F2BC1B;
}

h2 a {color: #000 !important;}

.articles .label, .btn {color: #FFF !important;}

a.thumbnail:hover {border-color: #F2BC1B !important;}