body
{
    background:url('/img/bkgrounds/community_1.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('/img/bkgrounds/community_1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bkgrounds/community_1.jpg', sizingMethod='scale')";
}

.form-actions {background:url('/img/dark_mosaic.png') !important;}


.home {background:url('/img/dark_mosaic.png') !important; color:#FFF; opacity:0.9; filter:alpha(opacity=90);}
.block {padding:30px; color:#FFF; margin-left:0;}
.block p {font-size:14px;}